:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Mulish", sans-serif;
}

// утилитарные классы
.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}


// ДЕСКТОП МЕНЮ
.sh-menu-item--has-sub-nav {
  position: relative;

  .sh-submenu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;
  }

  @media (min-width: 1201px) {
    &:hover {
      .sh-submenu {
        opacity: initial;
        visibility: initial;
        pointer-events: initial;
      }
    }
  }
}

.sh-submenu {
  position: absolute;
  width: 300px;
  top: 100%;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    max-width: 100%;
    width: 100%;
    padding: 14px 0 21px;
    background: #53667f;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    border-radius: 0 8px 8px 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__link {
    text-decoration: none;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 5px 32px;
    position: relative;

    &::before {
      content: "";
      display: block;
      background-color: #fff;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: all 0.3s;
    }

    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: #fff;
      opacity: 0.3;
      position: absolute;
      top: 100%;
      left: 32px;
      right: 32px;
      transition: all 0.3s;
    }

    &:hover {
      &::before {
        opacity: 0.1;
      }

      &::after {
        left: 0;
        right: 0;
      }
    }

  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7px;
    position: relative;

    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__label {
    position: relative;
  }
}


// МОБИЛЬНОЕ МЕНЮ
.mob-menu {
  &__link {
    display: grid;
    gap: 12px;
    align-items: center;
    width: 100%;
    grid-template-columns: auto 1fr;
  }

  &__icon {
    display: flex;
    width: 16px;
    justify-content: center;
    align-items: center;

    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

}

.mob-sub-menu {
  padding-top: 6px;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
  }

  &__link {
    display: grid;
    max-width: 100%;
    width: 100%;
    gap: 6px;
    align-items: center;
    grid-template-columns: auto 1fr;
    text-decoration: none;
    margin-right: 16px;
  }

  &__icon {
    display: flex;
    width: 7px;
    justify-content: center;
    align-items: center;

    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 767px) {
    padding-top: 17px;

    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
    }
  }
}

// Интерактив
.js-sub-nav-show {
  .mob-sub-menu {
    display: none;
  }

  &.isActive {
    .mob-sub-menu {
      display: block;
    }

    .mob-menu__icon svg {
      .move {
        // transform: rotate(90 16 7);
        fill: transparent;
      }
    }
  }
}

// Кастомный чекбокс
.checkbox {
  display: grid;
  gap: 15px;
  grid-template-columns: auto 1fr;
  max-width: 100%;
  align-items: flex-start;
  margin-top: 32px;

  &__emulator {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c8c9cb;
    border-radius: 8px;
    width: 28px;
    height: 28px;
    background: #fff;
    cursor: pointer;

    svg {
      display: block;
      width: 14px;
      height: auto;
      transition: all 0.3s;

      opacity: 0;
    }
  }

  &__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #696d73;
    margin-top: 5px;
    transition: all 0.3s;

    a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #282e36;
    }
  }

  &+& {
    margin-top: 11px;
  }

  .simple-modal__privacy {
    margin: 0;
  }

  input:checked+&__emulator {
    background: #53667f;
    border: 1px solid #53667f;

  }

  input:checked+&__emulator svg {
    opacity: 1;
  }
}


.subscribe-block {
  .checkbox__emulator {
    background: #263344;
    border: 1px solid #5d6673;
  }

  .checkbox__text {
    color: #bdc1c7;

    a {
      color: #fff;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
  }

}

.new-details {
  &__content {
    margin-top: 60px;

    p {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #babec4;
      margin-block-start: 1em;
      margin-block-end: 1em;
    }

    b {
      font-weight: 700;
      color: #fff;
    }

    ul {
      list-style: none;
      color: #babec4;
      margin-block-start: 1em;
      margin-block-end: 1em;
    }

    li {
      margin-bottom: 1rem;
    }
  }

  &__lead {
    display: block;
    font-size: 20px;
    color: #fff;
    margin-bottom: 2rem;
  }

  .btn {
    max-width: max-content;
  }

  @media only screen and (max-width: 960px) {
    &__content {
      margin-top: 30px;
      .home-about-flex {
        display: grid;
        gap: 0;
        grid-template-columns: repeat(1, 1fr);
      }
      .home-about-flex__right {
        // order: -1;
        margin-top: 0;
      }
    }

  }
}
